body{
margin:0px auto;
position:relative;
}
#header_name{
 color:green;

}
.big_header{

//border:1px solid black;
padding :0px auto;
margin:0px auto;
width:800px;

height:auto;

background-color:#FCF4D9;

}


h1{
//color:white;
font-family: fantasy;
}
h2{
//color:white;
}

#regi{
border:1px solid black;
width:800px;
height:800px;
background-color:#FCF4D9;


}
#regi_box{
    border: 1px solid black;
    width: 500px;
    height: 143px;
    margin-top: -57px;
	    margin-left: 235px;
 
}
#shadow{
width:800px;
height:76px;
background-color:black;
color:white;
}
#logo{
color:white;
font-size:10px;
}
a{
  text-decoration: none !important;

}


footer{
font-family: fantasy;
color:white;
text-decoration:none;
background-color:black;
height:50px;
text-align:center;
}
a{
  text-decoration: none !important;

}
#cssmenu ul {
  margin: 0;
  padding: 7px 6px 0;
  background:black url(images/overlay.png) repeat-x 0 -110px;
  line-height: 100%;
  border-radius: 1em;
  font: normal 0.5333333333333333em Arial, Helvetica, sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  width: auto;
}
#cssmenu li {
  margin: 0 5px;
  padding: 0 0 8px;
  float: left;
  position: relative;
  list-style: none;
}
#cssmenu a,
#cssmenu a:link {
  font-weight: bold;
  font-size: 13px;
  color:white;
  text-decoration: none;
  display: block;
  padding: 8px 20px;
  margin: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  //text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
#cssmenu a:hover {
  //background: #000;
  color: white;
}
#cssmenu .active a,
#cssmenu li:hover > a {
  background:  url(images/overlay.png) repeat-x 0 -40px;
  background:  url(images/overlay.png) repeat-x 0 -40px;
  color:white;
  border-top: solid 1px  #f8f8f8;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  //text-shadow: 0 1px 0 #ffffff;
}
#cssmenu ul ul li:hover a,
#cssmenu li:hover li a {
  background: none;
  border: none;
  color: #666;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#cssmenu ul ul a:hover {
  background:  url(images/overlay.png) repeat-x 0 -100px !important;
  color: black !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
#cssmenu li:hover > ul {
  display: block;
}
#cssmenu ul ul {
  z-index: 1000;
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 40px;
  left: 0;
  background: #7AC5CD url(images/overlay.png) repeat-x 0 0;
  border: solid 1px #b4b4b4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
#cssmenu ul ul li {
  float: none;
  margin: 0;
  padding: 3px;
}
#cssmenu ul ul a,
#cssmenu ul ul a:link {
  font-weight: normal;
  font-size: 12px;
}
#cssmenu ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
* html #cssmenu ul {
  height: 1%;
}
#acc{
    font-size: 20px;
    margin-left: 115px;

}
#regi_box1{
    border: 1px solid black;
    width: 500px;
    height: 474px;
    margin-top: 83px;
    margin-left: 147px;
    text-align: center;
}
#regi2_box{
     border: 1px solid black;
    width: 212px;
    height: 274px;
    margin-top: 102px;
    margin-left: 6px;
}
#sub{
margin-left:60px;
}
#regi3_box{
    border: 1px solid black;
    width: 500px;
    height: 143px;
    margin-top: 9px;
    margin-left: 87px;
}
#upload_box{

border: 1px solid black;
    width: 500px;
    height: 502px;
    margin-top: 55px;
    margin-left: 186px;
    text-align: center;

}

